In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
dataset = pd.read_csv('Position_Salaries.csv')
dataset

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [15]:
x = dataset.iloc[:,1:-1].values
y = dataset.iloc[:,-1].values

training random forest

In [16]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10,random_state= 42)
regressor.fit(x,y)

RandomForestRegressor(n_estimators=10, random_state=42)

predict new result

In [17]:
regressor.predict([[6.5]])

array([180000.])