# SF Salaries Exercise

In [3]:
#            ____  _____  ______ _      _____            _    _ __  __          _   _            _    _ __  __ ______ _____             ____  _____  ______ _      _____          _____ __  __
#      /\   |  _ \|  __ \|  ____| |    |  __ \     /\   | |  | |  \/  |   /\   | \ | |     /\   | |  | |  \/  |  ____|  __ \      /\   |  _ \|  __ \|  ____| |    |  __ \   /\   |_   _|  \/  |
#     /  \  | |_) | |  | | |__  | |    | |__) |   /  \  | |__| | \  / |  /  \  |  \| |    /  \  | |__| | \  / | |__  | |  | |    /  \  | |_) | |  | | |__  | |    | |  | | /  \    | | | \  / |
#    / /\ \ |  _ <| |  | |  __| | |    |  _  /   / /\ \ |  __  | |\/| | / /\ \ | . ` |   / /\ \ |  __  | |\/| |  __| | |  | |   / /\ \ |  _ <| |  | |  __| | |    | |  | |/ /\ \   | | | |\/| |
#   / ____ \| |_) | |__| | |____| |____| | \ \  / ____ \| |  | | |  | |/ ____ \| |\  |  / ____ \| |  | | |  | | |____| |__| |  / ____ \| |_) | |__| | |____| |____| |__| / ____ \ _| |_| |  | |
#  /_/    \_\____/|_____/|______|______|_|  \_\/_/    \_\_|  |_|_|  |_/_/    \_\_| \_| /_/    \_\_|  |_|_|  |_|______|_____/  /_/    \_\____/|_____/|______|______|_____/_/    \_\_____|_|  |_|

In [4]:
import pandas as pd

** Import pandas as pd.**

In [5]:
sal =pd.DataFrame(pd.read_csv('Salaries.csv'))
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143818,143819,Cheryl M Roldan,Special Nurse,9910.25,0.00,898.15,108.08,10808.40,10916.48,2014.0,NaN,San Francisco,NaN
143819,143820,Margaret A Price,Assistant Cook,9827.10,976.26,0.00,108.03,10803.36,10911.39,2014.0,NaN,San Francisco,NaN
143820,143821,Sarah R Koplowicz,PS Aide to Prof,6794.00,0.00,0.00,4113.58,6794.00,10907.58,2014.0,NaN,San Francisco,NaN
143821,143822,Bella L Diones,Special Nurse,8928.20,0.00,0.00,1976.33,8928.20,10904.53,2014.0,NaN,San Francisco,NaN
143822,143823,Barbara D Blount,Account Clerk,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

** Read Salaries.csv as a dataframe called sal.**

In [6]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

** Check the head of the DataFrame. **

** Use the .info() method to find out how many entries there are.**

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143823 entries, 0 to 143822
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                143823 non-null  int64
 1   EmployeeName      143823 non-null  object
 2   JobTitle          143823 non-null  object
 3   BasePay           143218 non-null  float64
 4   OvertimePay       143823 non-null  float64
 5   OtherPay          143822 non-null  float64
 6   Benefits          107663 non-null  float64
 7   TotalPay          143822 non-null  float64
 8   TotalPayBenefits  143822 non-null  float64
 9   Year              143822 non-null  float64
 10  Notes             0 non-null       float64
 11  Agency            143822 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(9), int64(1), object(3)
memory usage: 14.3+ MB

**What is the average BasePay ?**

In [8]:
sal['BasePay'].mean()

68433.5762196791

** What is the highest amount of OvertimePay in the dataset ? **

In [9]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [10]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [11]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [12]:
# sal0 = sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]
name= str(sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName'])
name0=''
for i in range(len(name)):
  if name[i].isdigit() == False and name[i] != ' ' :
    name0=name0 + name[i]
print('Name: ',name0)

Name:  NATHANIELFORD
Name:EmployeeName,dtype:object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [13]:
nameLow = str(sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]['EmployeeName'])
name1 = ''
for i in range(len(nameLow)):
  if nameLow[i].isdigit() == False and nameLow[i] != ' ' :
    name1=name1 + nameLow[i]
print('Name: ',name1)
print('It\'s negative?')

Name:  DavidPKucia
Name:EmployeeName,dtype:object
It's negative?

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [14]:
sal.groupby('Year').mean()['BasePay']

Year
2011.0    63595.956517
2012.0    65436.406857
2013.0    69630.030216
2014.0    75670.242551
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [15]:
salUn = sal['JobTitle'].unique()
print(len(salUn))

2156

** What are the top 5 most common jobs? **

In [16]:
sal['JobTitle'].value_counts().head(5)

Transit Operator    6806
Special Nurse       3898
Registered Nurse    3712
Police Officer 3    2415
TRANSIT OPERATOR    2388
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [17]:
sal2013 = sal[sal['Year']==2013]['JobTitle'].value_counts()==1
print(sal2013.sum())

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [18]:
sal['JobTitle'].apply(lambda str:('Chief' in str)).sum()

423

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [19]:

print(len(sal['JobTitle']))
print(sal['TotalPayBenefits'].sum())
JobTitle = len(sal['JobTitle'])
TotalPayBenefits = sal['TotalPayBenefits'].sum()
data = {'title_len':[JobTitle/JobTitle , JobTitle/TotalPayBenefits],
        'TotalPayBenefits': [TotalPayBenefits/JobTitle,TotalPayBenefits/TotalPayBenefits]}
df = pd.DataFrame(data,index = ['title_len',' TotalPayBenefits'])
df

143823
13905899618.710001

                   title_len  TotalPayBenefits
title_len            1.00000      96687.592518
 TotalPayBenefits    0.00001          1.000000

In [20]:
sal["title_len"] = sal["JobTitle"].apply(len) 
df = sal[["title_len" , "TotalPayBenefits"]] 
df
df.corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036274
TotalPayBenefits  -0.036274          1.000000

# Great Job!