In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import Dataset

In [20]:
dataset = pd.read_csv('50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [21]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [22]:
x = dataset.iloc[:,:-2].values
y = dataset.iloc[:,-1].values

split dataset to train and test

In [23]:
from sklearn.model_selection import train_test_split
xTrain , xTest , yTrain,yTest = train_test_split(x,y,test_size=0.2,random_state=0)

In [24]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(xTrain,yTrain)

LinearRegression()

predict test set

In [25]:
yPred = reg.predict(xTest)

In [26]:
np.set_printoptions(precision=2)
print(np.concatenate((yPred.reshape(len(yPred),1),yTest.reshape(len(yTest),1)),1))

[[103901.9  103282.38]
 [132763.06 144259.4 ]
 [133567.9  146121.95]
 [ 72911.79  77798.83]
 [179627.93 191050.39]
 [115166.65 105008.31]
 [ 67113.58  81229.06]
 [ 98154.81  97483.56]
 [114756.12 110352.25]
 [169064.01 166187.94]]