# NumPy Exercises

#### Import NumPy as np

In [ ]:
import numpy as np

#### Create an array of 10 zeros

In [ ]:
z = np.zeros((1, 10))
print(z)

[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]

#### Create an array of 10 ones

In [ ]:
o = np.ones((1, 10))
print(o)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

#### Create an array of 10 fives

In [ ]:
f = np.array([[5,5,5,5,5,5,5,5,5,5]])
print(f)

[[5 5 5 5 5 5 5 5 5 5]]

#### Create an array of the integers from 10 to 50

In [70]:
ar = np.arange(10,51)
print(ar)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50]

#### Create an array of all the even integers from 10 to 50

In [ ]:
ev = np.arange(10,51,2)
print(ev)

[10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50]

#### Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
m = np.arange(9).reshape(3,3)
print(m)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

#### Create a 3x3 identity matrix

In [ ]:
id = np.identity(3)
print(id)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

#### Use NumPy to generate a random number between 0 and 1

In [ ]:
ra = np.random.uniform(0,1)
print(ra)

0.7651416755597856

#### Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [ ]:
em = np.random.standard_normal(25)
print(em)

[ 9.84132328e-01 -2.50887985e+00  5.50851983e-01  1.39418945e+00
 -6.32352270e-01  1.66436396e-03 -8.95705199e-01 -5.47157694e-02
  9.66130200e-02 -8.18830830e-01  1.03859502e+00  1.35763548e-01
 -3.77449957e-01 -1.54115192e+00  9.62245380e-02  9.25772949e-01
  1.58547172e+00 -2.08718912e+00 -8.21724174e-01 -3.10143386e-01
 -5.79543545e-01  4.36573436e-02  5.51311829e-02 -2.48091486e+00
 -7.72706113e-01]

#### Create the following matrix:

In [ ]:
zz = np.arange(0.01,1.01,0.01)
print(zz)

[0.01 0.02 0.03 0.04 0.05 0.06 0.07 0.08 0.09 0.1  0.11 0.12 0.13 0.14
 0.15 0.16 0.17 0.18 0.19 0.2  0.21 0.22 0.23 0.24 0.25 0.26 0.27 0.28
 0.29 0.3  0.31 0.32 0.33 0.34 0.35 0.36 0.37 0.38 0.39 0.4  0.41 0.42
 0.43 0.44 0.45 0.46 0.47 0.48 0.49 0.5  0.51 0.52 0.53 0.54 0.55 0.56
 0.57 0.58 0.59 0.6  0.61 0.62 0.63 0.64 0.65 0.66 0.67 0.68 0.69 0.7
 0.71 0.72 0.73 0.74 0.75 0.76 0.77 0.78 0.79 0.8  0.81 0.82 0.83 0.84
 0.85 0.86 0.87 0.88 0.89 0.9  0.91 0.92 0.93 0.94 0.95 0.96 0.97 0.98
 0.99 1.  ]

#### Create an array of 20 linearly spaced points between 0 and 1:

In [ ]:
li = np.linspace(0, 1, 20)
print(li)

[0.         0.05263158 0.10526316 0.15789474 0.21052632 0.26315789
 0.31578947 0.36842105 0.42105263 0.47368421 0.52631579 0.57894737
 0.63157895 0.68421053 0.73684211 0.78947368 0.84210526 0.89473684
 0.94736842 1.        ]

## Numpy Indexing and Selection

Now you will be given a few matrices, and be asked to replicate the resulting matrix outputs:

In [ ]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE
print(mat[2:,1:])

[[12 13 14 15]
 [17 18 19 20]
 [22 23 24 25]]

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE
print(mat[3,-1])

20

20

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE
mat31 = mat[:3,1]
print(mat31.reshape(3,1))

[[ 2]
 [ 7]
 [12]]

array([[ 2],
       [ 7],
       [12]])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE
print(mat[-1,])

[21 22 23 24 25]

array([21, 22, 23, 24, 25])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE
print(mat[3:,])

[[16 17 18 19 20]
 [21 22 23 24 25]]

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

### Now do the following

#### Get the sum of all the values in mat

In [ ]:
print(np.sum(mat))

325

#### Get the standard deviation of the values in mat

In [ ]:
print(np.std(mat))

7.211102550927978

#### Get the sum of all the columns in mat

In [ ]:
sum  = mat.sum(axis=0)
print(sum)

[55 60 65 70 75]

# Great Job!